#blog-intro {
    padding-top: 60px;
    background-color: var(--light-grey);
}

#blog-intro .row .col:nth-child(2) {
    flex-direction: row;
    justify-content: flex-end;
}

#blog-intro .row .blog-intro-img {
    width: 100%;
    height: auto;
    border-radius: 18px;
}

#blog-intro .row h1 {
    font-size: 60px;
    color: var(--black);
}

#blog-intro .row p {
    font-size: 18px;
}

#blog-intro .header-tags-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#blog-intro .header-tags-wrapper .header-tags {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 9px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 700;
}

#blog-intro .header-tags-wrapper .header-tags:nth-child(1) {
    margin-right: 10px;
}

#blog-intro .header-tags-wrapper .header-tags:nth-child(2) {
    margin-left: 10px;
}

.blog-body .row {
    max-width: 720px;
}

.blog-body .row > * {
    font-size: 18px;
    line-height: 1.8;
    width: 100%;
    text-align: left;
}

.blog-body .row ul li,
.blog-body .row ol li {
    padding-inline-start: 20px;
    margin: 10px 0;
}

.blog-body .row ul li::before {
    content: '•';
    color: var(--primary);
}

.blog-body .faq li {
    font-weight: 700;
}

.blog-body .faq p {
    padding-inline-start: 40px;
}

.blog-body .bold {
    font-weight: 700;
}

.blog-body .row h2 {
    font-size: 34px;
    text-align: left;
    width: 100%;
    margin-top: 32px;
}

.blog-body .row h3 {
    font-size: 26px;
    text-align: left;
    width: 100%;
    margin-top: 32px;
}

.blog-body .row p {
    margin-bottom: 0;
}

.blog-body .row img {
    max-width: 720px;
    height: auto;
    aspect-ratio: 1/1.2;
    border-radius: 18px;
    margin: 40px 0;
}

.section.full-width-section {
    background-color: #151618;
    padding: 60px 0;
}

.section.full-width-section .row h2 {
    color: var(--white);
    font-size: 50px;
    text-align: center;
}

.blog-body .row .blog-post-focus {
    font-size: 22px;
    font-style: italic;
    border-left: 2px solid var(--primary);
    padding-left: 20px;
    margin: 40px 0;
}

#myTopnav .topnav-content a:hover {
    text-decoration: none;
}

@media all and (max-width: 540px) {
    #blog-intro .row h1 {
        font-size: 40px;
        line-height: 1.4;
        margin-top: 20px;
    }

    .blog-body .row h2 {
        font-size: 28px;
        line-height: 1.4;
    }

    .blog-body .row h3 {
        font-size: 20px;
        line-height: 1.4;
    }

    .blog-body .row > * {
        font-size: 16px;
    }

    #blog-intro .row .blog-intro-img {
        width: 100%;
        margin: 0 auto;
    }

    #blog-intro .row,
    .blog-body .row {
        margin: 20px auto;
    }

    .blog-body .row .blog-post-focus {
        font-size: 18px;
    }

    .section.full-width-section .row h2 {
        font-size: 30px;
    }

    #blog-intro .header-tags-wrapper .header-tags {
        font-size: 10px;
    }

}